<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Car Price Predictor</title>
</head>

<body>
    <div class="wrapper">

        <div class="left">
            <img src="/static/images/image.jpg" alt="Car Image" class="car-image">
        </div>

        <div class="right">
            <div class="title">Car Price Predictor</div>
            <form action="/" method="POST">
                <div class="form">
                    <div class="inputfield-group">

                        <div class="inputfield">
                            <label for="company">Brand</label>
                            <div class="custom_select">
                                <select name="Brand" id="brand" onchange="updateModels()">
                                    <option value="">Select a brand</option>
                                    <option value="Audi">Audi</option>
                                    <option value="BMW">BMW</option>
                                    <option value="Chevrolet">Chevrolet</option>
                                    <option value="Datsun">Datsun</option>
                                    <option value="Ferrari">Ferrari</option>
                                    <option value="Fiat">Fiat</option>
                                    <option value="Ford">Ford</option>
                                    <option value="Honda">Honda</option>
                                    <option value="Hyundai">Hyundai</option>
                                    <option value="Isuzu">Isuzu</option>
                                    <option value="Jaguar">Jaguar</option>
                                    <option value="Jeep">Jeep</option>
                                    <option value="Kia">Kia</option>
                                    <option value="Lamborghini">Lamborghini</option>
                                    <option value="Land Rover">Land Rover</option>
                                    <option value="Lexus">Lexus</option>
                                    <option value="MG">MG</option>
                                    <option value="MINI">MINI</option>
                                    <option value="Mahindra">Mahindra</option>
                                    <option value="Maruti Suzuki">Maruti Suzuki</option>
                                    <option value="Maserati">Maserati</option>
                                    <option value="Mercedes-Benz">Mercedes-Benz</option>
                                    <option value="Mitsubishi">Mitsubishi</option>
                                    <option value="Nissan">Nissan</option>
                                    <option value="Porsche">Porsche</option>
                                    <option value="Renault">Renault</option>
                                    <option value="Rolls-Royce">Rolls-Royce</option>
                                    <option value="Skoda">Skoda</option>
                                    <option value="Ssangyong">Ssangyong</option>
                                    <option value="Tata">Tata</option>
                                    <option value="Toyota">Toyota</option>
                                    <option value="Volkswagen">Volkswagen</option>
                                    <option value="Volvo">Volvo</option>
                                </select>
                            </div>

                        </div>
                        <div class="inputfield">
                            <label for="model">Model</label>
                            <div class="custom_select">
                                <select name="Model" id="model">
                                    <option value="" selected hidden>Select</option>
                                </select>


                            </div>
                        </div>
                    </div>

                    <div class="inputfield">
                        <label for="Kilometers">Kilometers</label>
                        <input class="input" type="text" name="Kilometers" required>
                    </div>

                    <div class="inputfield">
                        <label for="EngineCapacity">Engine Capacity</label>
                        <input class="input" type="text" name="EngineCapacity" required>
                    </div>

                    <div class="inputfield">
                        <label for="Length">Length (mm)</label>
                        <input class="input" type="text" name="Length" required>
                    </div>

                    <div class="inputfield">
                        <label for="Width">Width (mm)</label>
                        <input class="input" type="text" name="Width" required>
                    </div>

                    <div class="inputfield">
                        <label for="SeatingCapacity">Seating Capacity</label>
                        <input class="input" type="text" name="SeatingCapacity" required>
                    </div>

                    <div class="inputfield">
                        <label for="FuelCapacity">Fuel Tank Capacity</label>
                        <input class="input" type="text" name="FuelCapacity" required>
                    </div>

                    <div class="inputfield">
                        <label for="CarAge">Car Age</label>
                        <input class="input" type="text" name="CarAge" required>
                    </div>

                    <div class="inputfield-group">

                        <div class="inputfield">
                            <label for="PowerValue">Power Value (bhp)</label>
                            <input class="input" type="text" name="PowerValue" required>
                        </div>

                        <div class="inputfield">
                            <label for="TorqueValue">Torque Value (Nm)</label>
                            <input class="input" type="text" name="TorqueValue" required>
                        </div>
                    </div>

                    <div class="inputfield-group">

                        <div class="inputfield">
                            <label for="Owner">Owner</label>
                            <div class="custom_select">
                                <select name="Owner" id="Owner">
                                    <option value="" selected hidden>Select</option>
                                    <option value="First">First</option>
                                    <option value="Second">Second</option>
                                    <option value="More than 3">More than 3</option>
                                </select>
                            </div>
                        </div>

                        <div class="inputfield">
                            <label for="Drivetrain">Drivetrain</label>
                            <div class="custom_select">
                                <select name="Drivetrain" id="Drivetrain">
                                    <option value="" selected hidden>Select</option>
                                    <option value="FWD">FWD</option>
                                    <option value="RWD">RWD</option>
                                    <option value="AWD">AWD</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="inputfield">
                        <label for="FuelType">Fuel Type</label>
                        <div class="custom_select">
                            <select name="FuelType" id="FuelType">
                                <option value="" selected hidden>Select</option>
                                <option value="CNG">CNG</option>
                                <option value="Diesel">Diesel</option>
                                <option value="Electric">Electric</option>
                                <option value="Hybrid">Hybrid</option>
                                <option value="LPG">LPG</option>
                                <option value="Petrol">Petrol</option>
                            </select>
                        </div>
                    </div>

                    <div class="inputfield">
                        <label for="Transmission">Transmission</label>
                        <div class="custom_select">
                            <select name="Transmission" id="Transmission">
                                <option value="" selected hidden>Select</option>
                                <option value="Automatic">Automatic</option>
                                <option value="Manual">Manual</option>
                            </select>
                        </div>
                    </div>


                    <div class="inputfield">
                        <input class="btn" type="submit" value="Predict Price">
                    </div>

                </div>
            </form>

            <div class="result">
                {% if pred_value != 0 %}
                <p>Estimated Price : {{ "{:,.2f}".format(pred_value) }}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        const carData = {
            "Audi": [
                "Q3 35", "A3 35", "A4 2.0", "A6 35", "A6 2.0", "Q7 45", "Q3 2.0", "A4 35",
                "Q5 2.0", "Q7 35", "A4 30", "A4 1.8", "A4 Premium", "A3 40", "Q2 Premium",
                "Q3 30", "A6 Technology", "Q7 3.0", "RS5 4.2", "Q5 35", "Q5 3.0", "A8 3.0",
                "A7 Sportback", "A6 3.0", "Q5 40", "Q8 Celebration", "Q7 Technology", "TT 2.0",
                "Q5 45"
            ],
            "BMW": [
                "5-Series 520d", "3-Series 320d", "X1 sDrive20d", "X5 xDrive", "5-Series 530d",
                "X5 xDrive30d", "5-Series 525d", "X3 xDrive", "3-Series 330i", "X3 xDrive20d",
                "7-Series 730Ld", "X3 xDrive-20d", "X1 sDrive20i", "2 Series", "5-Series 530i",
                "X3 20d", "6-Series GT", "X1 xDrive20d", "3-Series 320i", "X6 xDrive40i",
                "X5 3.0d", "X4 xDrive30d", "X7 xDrive40i", "X3 xDrive30i"
            ],
            "Chevrolet": [
                "Cruze LTZ", "Spark LS", "Sail Sedan", "Beat LT", "Captiva LTZ"
            ],
            "Datsun": [
                "Redigo T(O)", "Go T", "Redigo S", "Go Plus", "Go D"
            ],
            "Ferrari": [
                "488 GTB"
            ],
            "Fiat": [
                "Linea Emotion", "Punto Active"
            ],
            "Ford": [
                "Ecosport Titanium", "Endeavour Titanium", "Ecosport Trend", "Figo Duratorq",
                "Ecosport Ambiente", "Ecosport Titanium+", "Mustang GT", "Aspire Titanium1.5",
                "Figo Duratec", "Endeavour Sport", "Ikon DuraTorq", "Figo Trend",
                "Figo Titanium1.5", "Endeavour Trend", "Endeavour 3.0L", "Fiesta Style",
                "Fiesta Titanium", "Aspire Titanium"
            ],
            "Honda": [
                "City 1.5", "City V", "Amaze 1.2", "City VX", "Jazz V", "City SV", "Amaze 1.5",
                "WR-V VX", "City ZX", "Brio S", "City S", "CR-V 2.4", "Jazz VX", "Brio E",
                "Accord 2.4", "City E", "WR-V S", "Civic 1.8V", "Jazz S", "Mobilio RS",
                "Jazz SV", "Civic 1.8S", "City CVT", "CR-V 2.0L", "Brio VX", "Brio V",
                "Brio EX", "BR-V V", "Amaze VX", "Mobilio S"
            ],
            "Hyundai": [
                "Grand i10", "Elite i20", "Creta SX", "Verna Fluidic", "Creta 1.6", "Verna 1.6",
                "i10 Magna", "Venue SX", "i10 Sportz", "i20 Magna", "Santro Sportz", "i20 Active",
                "i20 Sportz", "Creta E", "Xcent S", "Santro GL", "Verna SX", "Xcent SX",
                "i20 Asta", "Santa Fe", "Eon Magna", "Eon Era", "Eon 1.0", "Tucson GL",
                "Eon Sportz", "i10 Era", "Elantra 1.8", "Verna EX", "Eon D-Lite", "i10 Asta",
                "Alcazar Signature", "Creta 1.4", "Venue S", "Accent Executive", "Elantra SX",
                "Tucson GLS", "Xcent E", "Tucson 2WD", "Sonata 2.0", "i10 1.1L", "Santro XO",
                "Santro Magna", "Santro GLS", "Santro Era", "Elantra 2.0", "Elantra 1.6",
                "Creta EX", "Aura S", "Alcazar Prestige", "Alcazar Platinum"
            ],
            "Isuzu": [
                "MU-X 4x2"
            ],
            "Jaguar": [
                "XJ 3.0", "XF 3.0", "XE Prestige", "F-Pace Prestige", "XF Portfolio",
                "XF Prestige", "XF R"
            ],
            "Jeep": [
                "Compass Limited", "Compass Longitude", "Compass Model", "Compass Sport",
                "Wrangler Rubicon"
            ],
            "Kia": [
                "Seltos GTX", "Seltos HTK", "Sonet GTX", "Seltos HTX", "Carnival Limousine"
            ],
            "Lamborghini": [
                "Huracan LP"
            ],
            "Land Rover": [
                "Discovery Sport", "Range Rover", "Evoque HSE", "Evoque SE", "Discovery 2.0",
                "Discovery 3.0", "Evoque Dynamic", "Evoque Pure", "Discovery HSE"
            ],
            "Lexus": [
                "ES 300h", "LX SUV", "NX 300h"
            ],
            "MG": [
                "Hector Sharp", "Hector Plus", "Astor Sharp", "ZS EV", "Gloster Sharp",
                "Gloster Savvy"
            ],
            "MINI": [
                "Cooper D", "Countryman Cooper", "Cooper S", "Cooper JCW"
            ],
            "Mahindra": [
                "Thar LX", "XUV500 W10", "XUV500 W8", "Scorpio S10", "XUV500 W11", "Scorpio S5",
                "Bolero Power", "XUV500 W6", "Scorpio S11", "Thar CRDe", "XUV300 1.5",
                "Scorpio S2", "Scorpio VLX", "Scorpio SLE", "TUV300 T6", "TUV300 T8", "Thar AX",
                "XUV700 AX", "Scorpio LX", "Scorpio S9", "Bolero SLE", "Scorpio S6", "TUV300 T10",
                "XUV500 W4", "Bolero SLX", "KUV100 K6", "Marazzo M2", "Marazzo M6", "Quanto C4",
                "Quanto C8", "Scorpio 2.6", "Scorpio S3", "Scorpio S4", "XUV500 W5",
                "XUV500 W7", "XUV500 W9", "Xylo D2", "Xylo D4", "Alturas G4", "XUV300 W8"
            ],
            "Maruti Suzuki": [
                "Wagon R", "Swift DZire", "Vitara Brezza", "Swift VXi", "Alto 800", "Alto VXi",
                "Baleno Delta", "Celerio VXi", "Swift VDi", "Alto LXi", "Baleno Zeta",
                "Celerio ZXi", "Baleno Alpha", "Swift ZXi", "Ciaz Delta", "DZire VXi",
                "Swift LXi", "Ciaz Alpha", "S-Presso VXi", "Ertiga VDi", "Eeco 5",
                "DZire VDi", "Ritz VXI", "Ritz Vdi", "S-Cross Alpha", "Ertiga VXI",
                "Ertiga VDI", "XL6 Zeta", "Swift ZDi", "Eeco 7", "Ciaz VXi", "Baleno Sigma",
                "Swift Lxi", "Ciaz VDi", "DZire ZXi", "Ciaz Zeta", "Ciaz VDi+", "Ertiga ZDI",
                "Celerio X", "Ciaz ZDi", "Celerio LXi", "Alto VXI", "Ciaz ZXI+", "SX4 VXi",
                "S-Cross Delta", "Ritz Ldi", "Estilo VXi", "Ertiga ZXi", "Eeco Ambulance"
            ],
            "Maserati": [
                "Levante Diesel"
            ],
            "Mercedes-Benz": [
                "E-Class E", "C-Class C", "GLA 200", "CLA 200", "S-Class Maybach",
                "GLE 300d", "GLS 350d", "GLA 220d", "C-Class Cabriolet", "E-Class Coupe",
                "GLC 220d", "A-Class Limousine", "AMG GT", "V-Class Expression",
                "C-Class Estate"
            ],
            "Mitsubishi": [
                "Pajero 2.5", "Pajero Select", "Pajero SFX", "Montero 3.2", "Lancer SFX",
                "Outlander 2.4", "Cedia Sports", "Outlander 2.0"
            ],
            "Nissan": [
                "Terrano XL", "Sunny XV", "Teana 250XL", "Micra XV", "Kicks XL",
                "Terrano XV", "Kicks XV", "Micra Active", "Micra XE", "Evalia XV",
                "Evalia XE", "Sunny XE", "Teana 230JM", "Micra Diesel"
            ],
            "Porsche": [
                "Macan Base", "Panamera 3.0", "718 Cayman", "911 Carrera", "Cayenne Turbo",
                "Panamera GTS", "Macan Turbo", "Panamera Turbo", "Cayman S", "911 Turbo",
                "Cayenne Diesel"
            ],
            "Renault": [
                "Kwid 1.0", "Duster 110", "Kiger RXZ", "Triber RXT", "Lodgy 85",
                "Triber RXZ", "Lodgy Stepway", "Duster AWD", "Pulse RxZ", "Kwid Climber",
                "Duster RXS", "Fluence 1.5", "Koleos 4x4"
            ],
            "Rolls-Royce": [
                "Ghost Extended", "Ghost 6.5", "Ghost 6.6", "Ghost V12", "Phantom VIII",
                "Phantom VII", "Wraith 6.6", "Cullinan Black"
            ],
            "Skoda": [
                "Rapid Ambition", "Superb L&K", "Octavia 1.8", "Kodiaq Style",
                "Octavia 2.0", "Rapid Onyx", "Kushaq Style", "Kodiaq L&K",
                "Yeti Elegance", "Rapid Monte Carlo", "Rapid Rider", "Fabia 1.2",
                "Fabia Scout", "Kushaq Ambition", "Kodiaq Scout"
            ],
            "Ssangyong": [
                "Rexton RX7", "Rexton RX6"
            ],
            "Tata": [
                "Tiago Revotron", "Harrier XZ", "Safari 2.2", "Hexa XM", "Nexon EV",
                "Safari VX", "Harrier XE", "Safari Dicor", "Nexon XZ", "Indica Vista",
                "Hexa XT", "Zest Revotron", "Indigo Manza", "Zest Revotorq",
                "Safari Storme", "Nano CX", "Hexa XMA", "Altroz XE", "Hexa XTA"
            ],
            "Toyota": [
                "Fortuner 2.8", "Innova 2.4", "Camry Hybrid", "Yaris V", "Etios G",
                "Corolla Altis", "Etios Liva", "Etios V", "Innova Crysta", "Glanza V",
                "Urban Cruiser", "Etios Diesel", "Etios GD", "Etios J", "Fortuner Sigma",
                "Etios GX", "Etios VX", "Etios Platinum", "Innova GX", "Fortuner 4x4",
                "Camry V6", "Yaris G", "Glanza G", "Etios Liva GD", "Land Cruiser"
            ],
            "Volkswagen": [
                "Vento Highline", "Polo Comfortline", "Tiguan Highline", "Jetta 1.9L",
                "Jetta Highline", "Polo Highline", "Passat 2.0", "Ameo Comfortline",
                "Polo Trendline", "Passat Highline", "T-Roc 1.5", "Polo GT TSI",
                "Vento Trendline", "Vento Comfortline", "Jetta Trendline",
                "Ameo Highline", "Polo Comfortline Plus"
            ],
            "Volvo": [
                "V40 D3", "XC60 Inscription", "S90 D4", "XC90 D5", "XC40 T4", "V90 Cross",
                "XC60 Momentum", "XC90 Momentum", "S60 T6", "XC90 Excellence",
                "XC60 D5", "S60 Cross", "XC90 Inscription"
            ]
        };

        function updateModels() {
            const brandSelect = document.getElementById("brand");
            const modelSelect = document.getElementById("model");
            const selectedBrand = brandSelect.value;

            // Clear previous models
            modelSelect.innerHTML = "<option value=''>Select a model</option>";

            if (selectedBrand) {
                const models = carData[selectedBrand];
                models.forEach(model => {
                    const option = document.createElement("option");
                    option.value = model;
                    option.text = model;
                    modelSelect.appendChild(option);
                });
            }
        }

        function clearForm() {
            document.getElementById("predictForm").reset();
        }
    </script>


</body>

</html>